:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  --white: #ffffff;
  --black: #121417;
  --yellow:#f4c550;
  --yellow-light:#ffdc86;
  

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  
  transition:  500ms ease-in-out;
  cursor: pointer;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
  transition: color 500ms ease-in-out;
}

/* 



body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}






