.authBtnsList {
  display: flex;
  gap: 16px;
}
.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  border: transparent;
}
.logInBtn {
  color: var(--black);
  background-color: transparent;
  padding: 14px 0;
}
.logInBtn:hover {
  color: var(--yellow);
}
.registerBtn {
  border-radius: 12px;
  padding: 14px 39px;
  min-width: 166px;
  background-color: var(--black);
  color: var(--white);
}
.registerBtn:hover {
  outline: 1px solid var(--black);
  background-color: var(--white);
  color: var(--black);
}
.icon {
  vertical-align: bottom;
  margin-right: 8px;
}
